{% extends 'base.html.twig' %}

{% block title %}Équipe{% endblock %}

{% block extra_header %}
    <h1>Équipe</h1>
{% endblock %}

{% block body %}
<div id="content">
    <table id="team-container">
        <thead>
            <tr>
                <th>Prénom, Nom</th>
                <th>Statut</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
                <td>
                    <div class="employee-infos">
                        <div class="employee-avatar">
                            {{ employe.getInitiales() }}
                        </div>
                        <div class="employee-coords">
                            <strong>{{ employe.prenom }} {{ employe.nom }}</strong>
                            <span>{{ employe.email }}</span>
                        </div>
                    </div>
                </td>
                <td>{{ employe.status.value }}</td>
                <td>
                    <a class="button button-edit-team" href="{{ path('app_employe_detail', { id: employe.id }) }}">
                        Éditer
                    </a>
                    <a class="delete-team" href="{{ path('app_employe_supprimer', { id: employe.id }) }}">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="3">Aucun employé trouvé.</td></tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
